.btnRed {
    -fx-background-color: #B80000;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-background-radius: 10px
}

.btnGreen {
    -fx-background-color: #4E9F3D;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-background-radius: 10px
}